.RiotIdCard{
    white-space: pre-wrap;
    word-break: break-all;
    text-align: center;
}

.data-account{
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    align-items: center;
}

.exp{
    margin: 3px 10px;
}

.button-bottom{
    text-transform: none !important;
}

.header-dashboard-account, .bottom-card-account{
    display: flex;
    justify-content: space-between;
}

.navbar-admin{
    margin-left: 20px;
}

.layout-manage-data{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
}

.zindex{
    z-index: 12011123;
}

.paragraph-detail-account{
    display: flex !important;
    flex-wrap: wrap;
    gap: 5px;
}

.detail-agent{
    overflow: auto;
    margin: 10px 0 10px 0;
    padding-top: 100px;
    height: auto !important;
}

.image-detail-agent{
    margin: auto;
    padding-bottom: 15px;
}

.flex-center{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .layout-manage-data{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .form-new-account{
        display: grid !important;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        gap: 8px;
    }

    .form-new-account-first{
        margin-top: 15px;
    }
  }

